html, body{
    height: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#background{
    background-color: rgb(83, 226, 102);
    position: absolute;
    height: 100vh;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

#text1{
    text-align: center;
}

#myCanvas { 
    background: #eee;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 900px;

}
